<header class="site-head" role="banner">
  <div class="site-head__wrap">
    <div class="site-head__content wrapper">
      <div class="grid">
        <div class="text-wrap-left grid__item lap-and-up-one-half">
          <h1 class="site-head__logo"><a href="/">Tom Blanchard</a></h1>
          <h2 class="site-head__tag">Front-end Web Developer</h2>
        </div><!--

     --><div class="text-wrap-right grid__item lap-and-up-one-half">
          <nav class="site-nav">
            <ul class="nav">
              <li class="site-nav__item"><a href="/">Home</a></li>
              <li class="site-nav__item"><a href="/work">Work</a></li>
              <li class="site-nav__item"><a href="/blog">Blog</a></li>
              <li class="site-nav__item"><a href="/contact">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>